.App {
  text-align: center;
}
.Header {
  margin-top: 80px;
  font-size: 80px;
  text-align: center;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

body {
  background-size: contain;
}
/* write your parent styles in here for your App.js */
